
html{
background-color: #4e4a4a;
background-image: url(../img/fondo.png);
}
* {
    box-sizing: border-box;
  }
header {
    background-color: #2e2828;
    color: rgb(161, 22, 22);
    text-decoration: wavy;
    text-align: center;
    padding: 20px;
}
header h1{
    font-size: xx-large;
}
header h2{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.topnav a:hover {
    background-color: rgb(161, 22, 22);
    color: black;
   }
.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  /* Estilo de los links */
  .topnav a {
    float:none;
    display:inline-block;
    font-size: 20px;
    color: rgb(161, 22, 22);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: crosshair;
  }
  

  
  body {
    margin: 20px;
  }
  .row1{
    background-color: #2e2828;
    color: rgb(161, 22, 22);
    padding: 30px;
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
    text-align: justify;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    text-align: justify;
    padding-left: 20px;
  }
  #cajacookies {
    display: none;
    box-shadow: 0px 0px 5px 5px #000000;
    background-color: rgb(161, 22, 22);
    color: white;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    position: fixed;
    top: 50px;
    width: 100%;
  }
  
  #cajacookies button {
    color: black;
  }
  /* Fake image */
  .fakeimg {
    background-color: rgb(128, 120, 120);
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .fakeimg img{
    max-width: 100%; 
    height: auto; 
  }

  .fakeimg2 {
    background-color: rgb(128, 120, 120);
    width: 65%;
    height: auto;
    padding: 20px;
    
  }
  .fakeimg2 img{
    max-width: 100%; 
    height: auto; 
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
  }
  .card h2{
      color:rgb(161, 22, 22);
      font-family: 'Times New Roman', Times, serif;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lista a{
      color: rgb(161, 22, 22) ;
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #2e2828;
    margin-top: 20px;
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: rgb(161, 22, 22);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
    /* Cambiar el color al ponerlo encima */
    .bottomnav a:hover {
        background-color: rgb(161, 22, 22);
        color: black;
       }
    
       .bottomnav {
        overflow: hidden;
      }
      
      /* Estilo de los links */
      .bottomnav a {
        float:none;
        display:inline-block;
        font-size: 20px;
        color: rgb(161, 22, 22);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: crosshair;
      }
      
      /* Cambiar el color al ponerlo encima */
      .bottomnav a:hover {
        background-color: rgb(161, 22, 22);
        color: black;
       }
       
  
  /*Cuando la pantalla tiene menos de 800 px de ancho, haga que las dos columnas se apilen una encima de la otra en lugar de una al lado de la otra */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /*Cuando la pantalla tiene menos de 400 px de ancho, haga que los enlaces de navegación se apilen uno encima del otro en lugar de uno al lado del otro*/
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }