body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(1, 14, 5);
  background-color: #d5d5b4;
  padding: 5em;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 90, 90);
  text-align: center;
  text-decoration: rgb(5, 90, 90);
  text-transform: capitalize;
}
#icon{
  position:-webkit-sticky;
  padding-top: -10em;
}

a{
  color:rgb(5, 90, 90);
}

ul, ol {
  list-style:none;
}

.nav > li {
  padding-left: 50px;
  float:left;
  text-align: center;
}

.nav li a {
  background-color:rgb(5, 90, 90);
  width: 250px;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:fixed;
  min-width:max-content;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:100px;
  top:0px;
}
    

div.gallery {
  margin: 5px;
  border: 1px solid rgb(5, 90, 90);
  float: left;
  width:458px;
}

div.gallery:hover {
  border: 1px solid rgb(0, 0, 0);
  
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: rgb(5, 90, 90);
  text-transform: uppercase;
}
footer {
  background-color: rgb(5, 90, 90);
  text-align: center;
  color: white;
  padding: 15px;
  margin:0px;
}
footer a{
color: white;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: rgb(5, 90, 90);
  text-transform:initial;
  padding: 3px;
  
}
